/* CSS RESET*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input {
  outline: none;
}
